.product-container{
    display: flex;
    justify-content:center ;
    align-items: center;
    column-gap: 30px;
    padding: 0px 40px;
    margin: 0px 0px;

    /* border: 1px solid black;
    margin: 30px auto; */
}
.main-container{
    border: 1px solid black;
    width: 70%;
    margin: 0px auto;
    margin-top: 30px;
}
.main-container .update-button{
    margin-left: 210px;
    width: 50%;
    margin-bottom: 20px;
}